<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mensager</title>
  </head>
  <body>
    <h1>Zap 2</h1>
    <form action="/bulk-message" method="post" id="message-form">
      <label for="token">Target Token: </label>
      <input id="token" name="targetToken" value="" />

      <label for="topic">Target Topic: </label>
      <input id="topic" name="targetTopic" value="evermart" />

      <label for="title">Title: </label>
      <input id="title" name="title" value="Course sold!" />

      <label for="body">Message: </label>
      <textarea id="body" name="body">
Congrats, you just sold {course name}!
      </textarea>

      <div style="margin: 1rem 0;">
        <div>
          <label for="number">Number: </label>
          <input id="number" type="number" name="number" value="1" />
        </div>

        <div>
          <label for="delay">Delay (s): </label>
          <input id="delay" name="delay" type="number" value="1" />
        </div>
      </div>

      <button>Send</button>
    </form>
  </body>

  <style>
    #message-form {
      display: flex;
      flex-direction: column;
      max-width: 500px;
    }
  </style>
</html>
